
.flow-page{
    margin: 0 auto;
    width: 70vw;
    height: 70vh;
    border-radius: 30px;
    text-align: left;
    overflow: hidden;
    padding: 25px;
    min-width: 800px;
    margin-left: 10vw;
    -moz-transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
    -o-transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
    -webkit-transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
    transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
}